name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update manifest version
        run: |
          version="${{ github.event.release.tag_name }}"
          version="${version#v}"
          jq --arg v "$version" '.version = $v' custom_components/snow_montreal/manifest.json > tmp.json
          mv tmp.json custom_components/snow_montreal/manifest.json

      - name: Create release zip
        run: |
          cd custom_components
          zip -r ../snow_montreal.zip snow_montreal

      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./snow_montreal.zip
          asset_name: snow_montreal.zip
          asset_content_type: application/zip
